/**
 * based on : http://home.exetel.com.au/cweatures/combosample/combotest.html
 */




/*
.dojoComboBoxInputInvalid {
 color: red;
}
*/
/* the drop down area */
.x-combo-list {
        /** see for for the font stuff... */
     
     background-color: white;
     border: 1px solid #afafaf;
      
     cursor: default;
}
.x-combo-list-inner {
    overflow: auto;
   
}
 
.x-combo-list-item {
     padding-left: 2px;
     padding-top: 0px;
     margin: 0px;
     padding-bottom: 2px;
     white-space: nowrap;
}
 
.x-combo-selected {
     background-color: #ABC9C2;
     color: black;
     border: 1px solid #5e8a7f;
}

/* The div holding the arrow background image */

/** --- dummy for date... */
  

.x-form-date-trigger,
.x-form-arrow-trigger 
{
   /*   border: 1px solid black; */
     width:17px;  
     height:19px;  
     background:url(../images/default/combo/arrow.gif); /* arrow image, 15x15px */
     background-repeat:no-repeat;
     background-position:center; /* centers image in div, creating 1px white border effect */
}
.roo-ie .x-form-field-wrap .x-form-trigger,
.roo-ie .x-toolbar .x-form-arrow-trigger 
{
    margin: 0px;
}
.roo-ie .x-form-arrow-trigger,
.roo-ie .x-form-date-trigger
{
    height:18px;  
}
/* chrome does not appear to need this..
.roo-safari .x-form-arrow-trigger,
.roo-safari .x-form-date-trigger
{
    position: absolute; 
    left: 0px; 
    top: 6px;
    height: 18px;
}

*/

/* ------------------ Roo.form.Combobox ---------------------*/



.x-form .x-form-combo-add,
.x-form .x-form-combo-edit
{
    background:transparent url(../images/default/dd/drop-add.gif) no-repeat scroll 0 0;
    border-style:none none solid;
    cursor:pointer;
    height:21px;
    position:absolute;
    top:2;
    width:17px;
    margin-left: 17px;
} 

.x-form .x-form-combo-edit
{
    background:transparent url(../images/default/tree/leaf.gif) no-repeat scroll 0 0;
} 
/** combo items **/
.x-combo-list-inner .x-btn
{
    text-align: left;
    font: 12px arial,tahoma,verdana,helvetica;
}


/** ------ Roo.formComboBoxArray ---- */
.x-cbarray-item {
    display: inline-block; 
    background: #e0ecff none no-repeat scroll 0 0;
    float: left;
    height: auto;
    -moz-border-radius: 2px;
    margin: 2px;
    float: left;
    padding: 2px;
    
    font-family:arial,tahoma,helvetica,sans-serif;
    font-size:11px;
    font-size-adjust:none;
    font-style:normal;
    font-variant:normal;
    font-weight:normal;
    
}
.x-cbarray-item div
{
    display: contents;
    float: left;
    margin: 2px;
    margin-left: 5px;
}
.x-cbarray-item img
{
   margin-left: 5px;
   background:transparent url(../images/default/dd/drop-sub.gif) no-repeat scroll 0 0;
   cursor: pointer;
}
.x-cbarray-cb 
{
    float:left;
}

.x-cbarray-grp
{
    padding: 2px;
    border: 1px solid #e0ecff;
    display: inline-block;
}
.x-cbarray-grp input.x-form-text,
.x-cbarray-grp img.x-form-trigger
{
    float: left;
}
/* needed for nested combo */
.x-combo-list-item.x-combo-list-item-has-children:after {
    content: '>';
    float: right;
    margin-right: 2px;
}
