.roo-el-mask {
	z-index:20000;   
   position:absolute;
   top:0;
   left:0;
   -moz-opacity: 0.5;
   opacity:.50;
   filter: alpha(opacity=50);
   background-color:#CCC;
	width:100%;
	height:100%;
	zoom:1;
}
.roo-el-mask-msg 
{
    position: absolute;
    z-index:20000;
    border: 4px double #557;
    background-color: #fff;
}

.roo-el-mask-msg div {
    font: bold 13px "sans serif", tahoma, verdana, helvetica;
    z-index:20001;
    padding:4px 15px;
    color: #557;
    
}
.roo-align-right {
    text-align:right;
}

.x-body-masked {
	overflow:hidden !important;
}
.x-body-masked select,.ext-masked object,.ext-masked embed{
	 visibility:hidden;
}

.roo-el-mask-msg.no-spinner .fa-spinner {
	display: none;
}



/* --- we do not have any shadow images ....
.x-shadow
{
	background:#cccccc;
   opacity:.3;
   -moz-opacity:.3;
   filter: alpha(opacity=30);
   position: absolute;
   overflow: hidden;
   left: 0px;
   top: 0px;
   display: none;
}
*/
/** --- top/bottom left / right shadow */
/*
.x-shadow .xstl,
.x-shadow .xstr,
.x-shadow .xsbl
.x-shadow .xsbr
{
    height: 7px;
    width: 7px;
    float: left;
}

*/
/** --- middle left / right shadow */
/*
.x-shadow .xsml,
.x-shadow .xsmr
{
    height: 100%;
    width: 7px;
    float: left;
}
*/
/** --- top center / bottom center ? shadow */
/*
.x-shadow .xstc,
.x-shadow .xsbc
{
    height: 7px;
    float: left;
}
*/
/*
.x-shadow * 
{
    overflow: hidden;
    clear: none;
    background:#cccccc;
   opacity:.3;
   -moz-opacity:.3;
    filter: alpha(opacity=30);
}
*/
/** silly kludge for IE with select's under divs */
.roo-ie .roo-shim {
    filter: alpha(opacity=0);
}
.roo-shim {	
    position: absolute;
    left: 0px;	
    top: 0px
    visibility: hidden;	
    overflow: hidden;	
    
}

.x-hidden 
{
   position:absolute;
   top:0;
   left:0;
   visibility: hidden;
   display: none;
}