


.x-form-daypick-item td {
    width: 35px;
    text-align: center;
}

.x-form-daypick-icons td img {
    background: url(../images/default/menu/chk-sprite.gif) no-repeat 0 0;
    width: 16px;
    height: 16px;
    
}