.x-layout-container{
    width:100%;
    height:100%;
    overflow:hidden;
	 background-color:#c3daf9;
}
.x-layout-collapsed{
    position:absolute;
    left:-10000px;
    top:-10000px;
    visibility:hidden;
    background-color:#c3daf9;
    width:20px;
    height:20px;
    overflow:hidden;
	 border:1px solid #98c0f4;
	 z-index:20;
}
.x-layout-collapsed-over{
    cursor:pointer;
	 background-color:#d9e8fb;
}
.x-layout-collapsed-west  .x-layout-tools-button{
	float:right;
}
.x-layout-collapsed-east  .x-layout-tools-button{
	float:left;
}
.x-layout-collapsed-north, .x-layout-collapsed-south{
	text-align:right;
}
.x-layout-collapsed .x-layout-tools-button{
   margin:2px;
	 width:12px;
	 text-align:center;
}
.x-layout-inactive-content{
    position:absolute;
    left:-10000px;
    top:-10000px;
    visibility:hidden;
}
.x-layout-active-content{
    visibility:visible;
}
.x-layout-panel{
    position:absolute;border:1px solid #98c0f4;overflow:hidden;background-color:white;
}
.x-layout-panel-east, .x-layout-panel-west {
    z-index:10;
}
.x-layout-panel-north, .x-layout-panel-south {
    z-index:11;
}
.x-layout-collapsed-north, .x-layout-collapsed-south, .x-layout-collapsed-east, .x-layout-collapsed-west {
    z-index:12;
}
.x-layout-panel-body{
    overflow:hidden;
}
.x-layout-grid-wrapper{

}
.x-layout-split{
    position:absolute;
    height:5px;
    width:5px;
    line-height:1px;
    font-size:1px;
    z-index:3;
    background-color:#c3daf9;
}
.x-layout-panel-hd{
    background-image: url(../images/default/layout/panel-title-light-bg.gif);
    color: black;
    border-bottom:1px solid #98c0f4;
    position:relative;
}
.x-layout-panel-hd-text{
    font:normal 11px tahoma, verdana, helvetica;
    padding: 4px;
    padding-left: 4px;
    display:block;
	 white-space:nowrap;
}
.x-layout-panel-hd-tools{
    position:absolute;
    right:0;
    top:0;
    text-align:right;
    padding-top:2px;
    padding-right:2px;width:40px;
}
.x-layout-tools-checkbox{
    float:left;
    cursor:pointer;
    margin:2px;
    width:16px;
    height:16px;
    background-image: url(../../roojs1/images/default/menu/chk-sprite.gif);
    background-repeat: no-repeat;
    background-position: 0 0;
}
.x-layout-tools-checkbox.x-layout-checked{
    background-position: 0 -16px;
}
.x-layout-tools-button{
    z-index:6;
    padding:2px;
    float:right;
    cursor:pointer;
}
.x-layout-tools-button-over{
    padding:1px;
    border:1px solid #98c0f4;
    background-color:white;
}
.x-layout-tools-button-inner{
    height:12px;
    width:12px;
    line-height:1px;
    font-size:1px;
    background-repeat:no-repeat;
    background-position:center;
}
.x-layout-close{
    background-image:url(../images/default/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% -48px;
}
.x-layout-collapse-west,.x-layout-expand-east{
    background-image:url(../images/default/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% 0;
}
.x-layout-expand-west,.x-layout-collapse-east{
    background-image:url(../images/default/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% -12px;
}
.x-layout-collapse-north,.x-layout-expand-south{
    background-image:url(../images/default/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% -24px;
}
.x-layout-expand-north,.x-layout-collapse-south{
    background-image:url(../images/default/layout/layout-sprite.gif);
    background-repeat: no-repeat;
    background-position: 50% -36px;
}
.x-layout-split-h{
    background-image:url(../images/default/sizer/e-handle.gif);
    background-position: left;
    cursor:col-resize;
}
.x-layout-split-v{
    background-image:url(../images/default/sizer/s-handle.gif);
    background-position: top;
    cursor:row-resize;
}
.x-layout-panel .x-tabs-wrap{
    background:url(../images/default/layout/gradient-bg.gif);
}
.x-layout-panel .roo-tabbody {
    background-color:white;
    overflow:auto;height:100%;
}
.x-layout-component-panel, .x-layout-nested-layout {
	position:relative;
   padding:0;
	overflow:hidden;
	width:200px;
	height:200px;
}
.x-layout-nested-layout .x-layout-panel {
	  border:0 none;
}
.x-layout-nested-layout .x-layout-panel-north {
	  border-bottom:1px solid #98c0f4;
}
.x-layout-nested-layout .x-layout-panel-south {
	  border-top:1px solid #98c0f4;
}
.x-layout-nested-layout .x-layout-panel-east {
	  border-left:1px solid #98c0f4;
}
.x-layout-nested-layout .x-layout-panel-west {
	  border-right:1px solid #98c0f4;
}
.roo-repaint{
    zoom:1;
	 background-color: transparent;
}
.x-layout-panel-dragover {
	border: 2px solid #6593cf;
}
.x-layout-panel-proxy {
	background-image: url(../images/default/layout/gradient-bg.gif);
	background-color:#c3daf9;
	border:1px dashed #6593cf;
	z-index:10001;
	overflow:hidden;
	position:absolute;
	left:0;top:0;
}
.x-layout-slider {
	z-index:15;
	overflow:hidden;
	position:absolute;
}

.x-unselectable{
	-moz-user-select: none;
	-khtml-user-select: none;
	-webkit-user-select: none;

	cursor:default;
}

/** --- split bar dragging ---*/
.x-splitbar-proxy{
        z-index:40009;
        visibility:hidden;
        position:absolute;
        background:#666;
        border: 1px solid #000;
        overflow:hidden;
}
.x-splitbar-h,.x-splitbar-proxy-h{
    cursor:col-resize;
}
.x-splitbar-v,.x-splitbar-proxy-v{
    cursor:row-resize;
}
.x-grid-resize-proxy
{
        z-index:40009;
        visibility:hidden;
        position:absolute;
        background:#666;
        border: 1px solid #000;
        overflow:hidden;
        cursor:col-resize;
        overflow:hidden;
        width: 2px;
}



