/**
 *  Debug version of CSS - should make editing and testing easier!
 *
 */

@import url("reset-min.css");
@import url("core.css");
@import url("tabs.css");
@import url("form.css");
@import url("button.css");
@import url("toolbar.css");
@import url("resizable.css");
@import url("grid.css");
@import url("layout.css");
@import url("basic-dialog.css");
@import url("dd.css");
@import url("tree.css");
@import url("qtips.css");
/* needs improving! */
@import url("date.css");
/* @import url("menu.css"); */
/* missing! 
/* @import url("box.css"); */
/* not important! */
/* @import url("debug.css"); */
/* very loose hack */
@import url("combo.css");
@import url("daypicker.css");
@import url("inline-editor.css");

