/* ------- MAIN TOOLBAR ---------------- */

.x-toolbar {
        background: url(../images/default/toolbar/gray-bg.gif) repeat-x 0 0;
        border-top: 1px solid #cbc7b8;
        border-bottom: 1px solid #cbc7b8;
        display: block;
        position: relative;
	padding: 1px;
}
/*
.x-toolbar .x-btn 
{
    margin-left: 2px;
    margin-right: 2px;
}
*/
/* ------------ FONTS / colors.-----------------------*/
.x-toolbar td,
.x-toolbar span,
.x-toolbar input,
.x-toolbar div,
.x-toolbar select,
.x-toolbar label
{
	
    font: normal 11px tahoma, verdana, helvetica;
    white-space: nowrap;
    line-height: normal;
    
}


/* ------------ VERTICAL ALIGNMENT -----------------------*/
.x-toolbar td
{
    vertical-align: middle;
}

/* ------------ TOOLBAR BUTTONS -----------------------*/

.x-toolbar .x-btn-left,
.x-toolbar .x-btn-right,
.x-toolbar .x-btn-center
{

 /*   background: none; */
   
}
.x-toolbar .x-btn-center
{
    padding: 0px;
}

/*  ------------ TOOLBAR BUTTONS  (WITH MENU) --------- */
.x-toolbar .x-btn-with-menu .x-btn-center em
{
    padding-right: 14px;
}



/* ------------ TOOLBAR ITEMS -----------------------*/

.x-toolbar .ytb-text
{
    padding: 2px;
}

/* ------------ TOOLBAR OVER / CLICK / CENTER-----------------------*/

.x-toolbar .x-btn-click .x-btn-center,
.x-toolbar .x-btn-pressed .x-btn-center,
.x-toolbar .x-btn-active .x-btn-center,
.x-toolbar .x-btn-over .x-btn-center,

.x-toolbar .x-btn-click .x-btn-left,
.x-toolbar .x-btn-pressed .x-btn-left,
.x-toolbar .x-btn-active .x-btn-left,
.x-toolbar .x-btn-over .x-btn-left,

.x-toolbar .x-btn-click .x-btn-right,
.x-toolbar .x-btn-pressed .x-btn-right,
.x-toolbar .x-btn-active .x-btn-right,
.x-toolbar .x-btn-over .x-btn-right
{
    background-repeat: no-repeat;
    background-image: url(../images/default/basic-dialog/btn-sprite.gif);
    
}

.x-toolbar .x-btn-click .x-btn-center,
.x-toolbar .x-btn-pressed .x-btn-center,
.x-toolbar .x-btn-active .x-btn-center
{
    background-position:0  -42px;
    background-repeat: repeat-x;
}

.x-toolbar .x-btn-over .x-btn-center
{
    background-position:  0 -105px;
    background-repeat: repeat-x;
} 

.x-toolbar .x-btn-click .x-btn-left,
.x-toolbar .x-btn-pressed .x-btn-left,
.x-toolbar .x-btn-active .x-btn-left
{
    background-position:0  0;
    
}

.x-toolbar .x-btn-over .x-btn-left
{
    background-position:  0 -63px;
   
} 

.x-toolbar .x-btn-click .x-btn-right,
.x-toolbar .x-btn-pressed .x-btn-right,
.x-toolbar .x-btn-active .x-btn-right
{
    background-position:0  -21px;
    
}

.x-toolbar .x-btn-over .x-btn-right
{
    background-position:  0 -84px;
 
} 

/* ------------ COMBOS/ FIELDS-----------------------*/
.x-toolbar .x-form-text 
{
    height:14px;
}

.roo-gecko .x-toolbar .x-form-text {
    height:16px;
}


/* ------------ MENUS -----------------------*/

.x-menu 
{
    background: white url(../images/default/menu/menu-bg.gif) repeat-y 0 0;
    font:normal 11px arial, tahoma, verdana, helvetica;
    border: 1px solid black;
    margin-top: 2px;
    margin-left: 2px;
}

.x-menu-plain
{
    background: none;
}
.x-menu-plain .x-menu-list-item .x-color-palette, 
.x-menu-plain .x-menu-list-item .x-date-picker 
{ 
    margin-left: 4px;
    margin-right: 0;
}
.x-menu-focus
{
    position: absolute;
    left: 0;
    top: -5px;
    width: 0;
    height: 0;
}
.x-menu-list
{
    border: 1px solid white;
}
.x-menu li
{
    line-height: 100%;
}

.x-menu-list-item
{
    -moz-user-select: none;
    display: block;
    /* padding: 1px; */
    white-space: nowrap;
}


.x-menu-item
{
    /*pointer: cursor; */
    color: #333;
    display: block;
    line-height: 15px;
    outline: none;
    padding: 3px 21px 3px 3px;
    text-decoration:none ;
    white-space: nowrap;
}
.x-menu-item-active
{
    background-color: #ABC9C2;
}


.x-menu li.x-menu-sep-li
{
    
    font-size: 1px;
    line-height: 1px;
    background: #ccc;
    display: block;
    height: 1px;
    margin: 3px 3px 3px 32px;
}
.x-menu-item-icon
{
    background-position: center center;
    border: 0px;
    width: 16px;
    height: 16px;
    padding: 0px;
    margin: 0 11px 0 0;
    vertical-align: middle;
    
}


.x-menu-list-item .x-menu-item-arrow 
{
    background: url(../images/default/grid/page-next.gif) no-repeat right 2px;
}





/* ------------ CHECKBOX ITEM-----------------------*/


/* ------------ DISABLED ITEMS -----------------------*/
.x-item-disabled .x-menu-item ,
.x-item-disabled
{
    color : #ccc;
    cursor: default !important;
    
}







/* ------------ OLD STUFF!!! -----------------------*/
.x-menu-check-item .x-menu-item-icon
{
    background: url(../images/default/menu/chk-sprite.gif) no-repeat 0 0;
    width: 16px;
    height: 16px;
}
.x-menu-item-checked .x-menu-item-icon
{
    background-position: 0 -16px;
    width: 16px;
    height: 16px;
}




/* NOT SURE WHAT THIS DOES ? - MS HACK? */

/*
.mso .x-toolbar, .x-grid-mso .x-toolbar
{
	border: 0px none;
	background: url(../images/default/grid/mso-hd.gif);
}
*/


/* disabled?? */
.x-toolbar .x-tb-button-disabled .x-tb-button-inner
{
	color:gray;
	cursor:default;
}


/* a seperator */







.x-toolbar .ytb-sep {
    background-image:url(../images/default/grid/grid-split.gif);
    background-position:center center;
    background-repeat:no-repeat;
    border:0pt none;
    cursor:default;
    display:block;
    font-size:1px;
    height:16px;
    margin:0pt 2px;
    overflow:hidden;
    width:4px;
}





/*
 Default button class is icon only. Add a class with a background-image property
 to your toolbar button
*/
/*
.x-toolbar .x-tb-button-inner
{
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	height: 16px;
	width: 16px;
	cursor:pointer;
	white-space: nowrap;
}
*/

/* 
 Button class for icon and text. Add this class and a class with a background-image 
 to your toolbar button for both text and icon 
*/
 
/*
.x-toolbar .x-tb-text-icon
{
	background-position: 0px 0px;
	background-repeat: no-repeat;
	padding-left:18px;
	padding-top:1px;
	width:auto;
	display:block;
}
*/

/* 
 Button class for a button with only text. Add this class  
 to your toolbar button for a just text button
*/
/*
.x-toolbar .x-tb-text-only{
	background:none;
	padding-left:0px;
	padding-top:1px;
	width:auto;
	display:block;
}
.x-toolbar .x-tb-text{
   padding:2px;
}
.x-toolbar .x-tb-button{
   padding:2px 3px;
	display:block;
}
.x-toolbar .x-tb-button-over{
   background:#c3d3ed url(../images/default/toolbar/btn-over-bg.gif) repeat-x;
	border:1px solid #6593cf;
	padding:1px 2px;
}
.x-toolbar .x-tb-sep {
	background-image: url(../images/default/grid/grid-split.gif);
	background-position: center;
	background-repeat: no-repeat;
	display: block;
	font-size: 1px;
	height: 16px;
	width:4px;
	overflow: hidden;
	cursor:default;
	margin: 0px 2px 0px;
	border:0px;
}
.mso .x-toolbar .x-tb-sep, .x-grid-mso .x-toolbar .x-tb-sep{
	background-image: url(../images/default/grid/grid-blue-split.gif);
}

*/


/** ---- Toolbar ontop of tab bar ---------- **/
.x-tabs-strip-wrap .x-toolbar {
    background: none !important;
}
.x-tab-strip-toolbar {
    width: 100%;
}