.x-tree-icon, .x-tree-ec-icon, .x-tree-elbow-line, .x-tree-elbow, .x-tree-elbow-end, .x-tree-elbow-plus, .x-tree-elbow-minus, .x-tree-elbow-end-plus, .x-tree-elbow-end-minus{
	border: 0 none;
	height: 18px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	width: 16px;
}
.x-tree-node-collapsed .x-tree-node-icon, .x-tree-node-expanded .x-tree-node-icon, .x-tree-node-leaf .x-tree-node-icon{
	border: 0 none;
	height: 16px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
	width: 16px;
	background-position:center;
}

/* some default icons for leaf/folder */
.x-tree-node-collapsed .x-tree-node-icon{
	background:transparent url(../images/default/tree/folder.gif);
}
.x-tree-node-expanded .x-tree-node-icon{
	background:transparent url(../images/default/tree/folder-open.gif);
}
.x-tree-node-leaf .x-tree-node-icon{
	background:transparent url(../images/default/tree/leaf.gif);
}

/* loading icon */
.x-tree-node-loading .x-tree-node-icon{
	background:transparent url(../images/default/tree/loading.gif) !important;
}
.x-tree-node-loading a span{
	 font-style: italic;
	 color:#444444;
}

/* Line styles */
.x-tree-lines .x-tree-elbow{
	background:transparent url(../images/default/tree/elbow.gif);
}
.x-tree-lines .x-tree-elbow-plus{
	background:transparent url(../images/default/tree/elbow-plus.gif);
}
.x-tree-lines .x-tree-elbow-minus{
	background:transparent url(../images/default/tree/elbow-minus.gif);
}
.x-tree-lines .x-tree-elbow-end{
	background:transparent url(../images/default/tree/elbow-end.gif);
}
.x-tree-lines .x-tree-elbow-end-plus{
	background:transparent url(../images/default/tree/elbow-end-plus.gif);
}
.x-tree-lines .x-tree-elbow-end-minus{
	background:transparent url(../images/default/tree/elbow-end-minus.gif);
}
.x-tree-lines .x-tree-elbow-line{
	background:transparent url(../images/default/tree/elbow-line.gif);
}

/* No line styles */
.x-tree-no-lines .x-tree-elbow{
	background:transparent;
}
.x-tree-no-lines .x-tree-elbow-plus{
	background:transparent url(../images/default/tree/elbow-plus-nl.gif);
}
.x-tree-no-lines .x-tree-elbow-minus{
	background:transparent url(../images/default/tree/elbow-minus-nl.gif);
}
.x-tree-no-lines .x-tree-elbow-end{
	background:transparent;
}
.x-tree-no-lines .x-tree-elbow-end-plus{
	background:transparent url(../images/default/tree/elbow-end-plus-nl.gif);
}
.x-tree-no-lines .x-tree-elbow-end-minus{
	background:transparent url(../images/default/tree/elbow-end-minus-nl.gif);
}
.x-tree-no-lines .x-tree-elbow-line{
	background:transparent;
}

.x-tree-elbow-plus, .x-tree-elbow-minus, .x-tree-elbow-end-plus, .x-tree-elbow-end-minus{
	cursor:pointer;
}

.x-tree-node{
	color: black;
	font: normal 11px arial, helvetica, sans-serif;
	white-space: nowrap;
}
.x-tree-node a, .x-dd-drag-ghost a{
	text-decoration:none;
	color:black;
	-khtml-user-select:normal;
	-moz-user-select:normal;
}
.x-tree-node a span, .x-dd-drag-ghost a span{
	text-decoration:none;
	color:black;
	padding:1px 3px 1px 2px;
}
.x-tree-node .x-tree-node-disabled a span{
	color:gray !important;
}
.x-tree-node .x-tree-node-disabled .x-tree-node-icon{
	-moz-opacity: 0.5;
   opacity:.5;
   filter: alpha(opacity=50);
}
.x-tree-node .x-tree-node-inline-icon{
	background:transparent;
}
.x-tree-node a:hover, .x-dd-drag-ghost a:hover{
	text-decoration:none;
}
.x-tree-node div.x-tree-drag-insert-below{
 	 border-bottom:1px dotted #3366cc;
}
.x-tree-node div.x-tree-drag-insert-above{
	 border-top:1px dotted #3366cc;
}
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below{
 	 border-bottom:0px none;
}
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above{
	 border-top:0px none;
}
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-below a{
 	 border-bottom:2px solid #3366cc;
}
.x-tree-dd-underline .x-tree-node div.x-tree-drag-insert-above a{
	 border-top:2px solid #3366cc;
}
.x-tree-node .x-tree-drag-append a span{
	 background:#dddddd;
	 border:1px dotted gray;
}
.x-tree-node .x-tree-selected a span{
	background:#3366cc;
	color:white;
}
.x-dd-drag-ghost .x-tree-node-indent, .x-dd-drag-ghost .x-tree-ec-icon{
	display:none !important;
}
.x-tree-drop-ok-append .x-dd-drop-icon{
  background-image: url(../images/default/tree/drop-add.gif);
}
.x-tree-drop-ok-above .x-dd-drop-icon{
  background-image: url(../images/default/tree/drop-over.gif);
}
.x-tree-drop-ok-below .x-dd-drop-icon{
  background-image: url(../images/default/tree/drop-under.gif);
}
.x-tree-drop-ok-between .x-dd-drop-icon{
  background-image: url(../images/default/tree/drop-between.gif);
}
.x-layer-shadow{
	background:#cccccc;
   opacity:.3;
   -moz-opacity:.3;
   filter: alpha(opacity=30);
}



.x-column-tree .x-tree-node { zoom:1;  }
.x-column-tree .x-tree-node-el { 
    border-bottom:1px solid #eee; 
    border-right: 1px solid #ccc;
    zoom:1;
}
.x-column-tree .x-tree-selected {
    background: #d9e8fb;
}
.x-column-tree  .x-tree-node a {
    line-height:18px;
    vertical-align:middle;
}

.x-column-tree  .x-tree-node .x-tree-selected a span{
	background:transparent;
	color:#000;
}
.x-column-tree .x-tree-col {
    float:left;
    overflow:hidden;
    padding:0;    
    border-left: 1px solid #ccc;
    height: 18px;
    zoom:1;
}

.x-column-tree .x-tree-col-text,.x-column-tree  .x-tree-hd-text {
    overflow:hidden;
    -o-text-overflow: ellipsis;
	text-overflow: ellipsis;
    padding:3px 3px 3px 5px;
    white-space: nowrap;
    font:normal 11px arial, tahoma, helvetica, sans-serif;
}

.x-column-tree .x-tree-headers {
    background: #EBEADB url(../images/gray/grid/grid-hrow.gif) repeat-x scroll 0 0;
	cursor:default;
    zoom:1;
}

.x-column-tree .x-tree-hd {
    float:left;
    overflow:hidden;
    border-left:1px solid #eee;
    border-right:1px solid #d0d0d0;
}
