
.undoreset div, .undoreset span, .undoreset applet, .undoreset object, .undoreset iframe, .undoreset
h1, .undoreset h2, .undoreset h3, .undoreset h4, .undoreset h5, .undoreset h6, .undoreset p, .undoreset blockquote, .undoreset pre, .undoreset
a, .undoreset abbr, .undoreset acronym, .undoreset address, .undoreset big, .undoreset cite, .undoreset code, .undoreset
del, .undoreset dfn, .undoreset em, .undoreset img, .undoreset ins, .undoreset kbd, .undoreset q, .undoreset s, .undoreset samp, .undoreset
small, .undoreset strike, .undoreset strong, .undoreset sub, .undoreset sup, .undoreset tt, .undoreset var, .undoreset
b, .undoreset u, .undoreset i, .undoreset center, .undoreset
dl, .undoreset dt, .undoreset dd, .undoreset ol, .undoreset ul, .undoreset li, .undoreset
fieldset, .undoreset form, .undoreset label, .undoreset legend, .undoreset
table, .undoreset caption, .undoreset tbody, .undoreset tfoot, .undoreset thead, .undoreset tr, .undoreset th, .undoreset td, .undoreset
article, .undoreset aside, .undoreset canvas, .undoreset details, .undoreset embed, .undoreset
figure, .undoreset figcaption, .undoreset footer, .undoreset header, .undoreset hgroup, .undoreset
menu, .undoreset nav, .undoreset output, .undoreset ruby, .undoreset section, .undoreset summary, .undoreset time,
.undoreset mark, .undoreset audio, .undoreset video {
    margin-bottom: 1em;
     
}

/* Strong and em */
.undoreset strong, .undoreset th { font-weight: bold; }
.undoreset em, .undoreset address, .undoreset caption, .undoreset cite { font-style: italic; }
/* Table */
.undoreset table { display: table; border-spacing: 2px; border-collapse: separate; }
.undoreset tr { display: table-row; vertical-align: inherit; }
.undoreset td { display: table-cell; border-spacing: 2px; padding: 2px; vertical-align: inherit; text-align: inherit; padding: 1px; border-collapse: none; }
.undoreset th { display: table-cell; vertical-align: inherit; font-weight: bold; padding: 1px; border-collapse: none; }
/* Block Items */
.undoreset p { display: block; margin: 1em 0; }
.undoreset blockquote { display: block; margin: 1em 40px; }
.undoreset address { display: block; font-style: italic; }
.undoreset center { display: block; text-align: center; }
/* Headers */
.undoreset h1 { display: block; font-size: 2em; font-weight: bold; margin: .67em 0; }
.undoreset h2 { display: block; font-size: 1.5em; font-weight: bold; margin: .83em 0; }
.undoreset h3 { display: block; font-size: 1.17em; font-weight: bold; margin: 1em 0; }
.undoreset h4 { display: block; font-weight: bold; margin: 1.33em 0; }
.undoreset h5 { display: block; font-size: 0.83em; font-weight: bold; margin: 1.67em 0; }
.undoreset h6 { display: block; font-size: 0.67em; font-weight: bold; margin: 2.33em 0; }
/* Lists */
.undoreset ul { display: block;   list-style-type: disc; margin: 1em 0; padding-left: 40px; }
.undoreset ol { display: block;   list-style-type: decimal; margin: 1em 0; padding-left: 40px; }
.undoreset li { display: list-item; }
/* Pre */
.undoreset pre, .undoreset code {  font-family: Courier New; margin: 1em 0; }
.undoreset pre { display: block; white-space: pre;}
.undoreset code { display: inline-block; white-space: normal;}

/** sneaked in here - as this file is used by editor */
.roo-htmleditor-body [contenteditable=true]:focus-visible {
    background-color: #fafafa;
    padding: 0 5px;;
}
.roo-htmleditor-body [contenteditable=true]:hover {
    border: 1px solid #ccc;
}