
/** tools buttons on new extjs are merged.. using x-tool.. 
* we should move towards that!
* */


.x-dlg .x-dlg-collapse,
.x-dlg .x-dlg-close,
.x-dlg-collapsed .x-dlg-collapse,
.x-layout-tools-button,
.x-layout-collapse-west, .x-layout-expand-east 
{
    background-image:url("../images/slate/panel/tool-sprites.gif");
}


.x-layout-collapse-west, .x-layout-expand-east {
    background-position: 0 -180px;
}
.x-layout-tools-button-over .x-tool-collapse-west {
    background-position: -15px -180px;
}



.x-panel {
    border-style: solid;
    border-color: #abc;
}
/* .x-panel-header */
.x-layout-panel-hd {
    color:#fafafa;
	border:1px solid #abc;
    background-image:url(../images/slate/panel/white-top-bottom.gif);
}






.x-panel-body {
    border-color:#abc;
}

.x-panel-bbar .x-toolbar {
    border-color:#abc;
}

.x-panel-tbar .x-toolbar {
    border-color:#abc;
}

.x-panel-tbar-noheader .x-toolbar, .x-panel-mc .x-panel-tbar .x-toolbar {
    border-color:#abc;
}
.x-panel-body-noheader, .x-panel-mc .x-panel-body {
    border-color:#abc;
}
.x-panel-tl .x-panel-header {
    color:#f4f4f4;
}
.x-panel-tc { background-image:url(../images/slate/panel/top-bottom.gif); }
.x-panel-tl { background-image:url(../images/slate/panel/corners-sprite.gif); border-color:#abc;}
.x-panel-tr { background-image:url(../images/slate/panel/corners-sprite.gif); }
.x-panel-bc { background-image:url(../images/slate/panel/top-bottom.gif); }
.x-panel-bl { background-image:url(../images/slate/panel/corners-sprite.gif); }
.x-panel-br { background-image:url(../images/slate/panel/corners-sprite.gif); }
.x-panel-mc { background:#eef4f8; }

.x-panel-mc .x-panel-body {
    background:transparent;
    border: 0 none;
}
.x-panel-ml { background-image:url(../images/slate/panel/left-right.gif); }
.x-panel-mr { background-image:url(../images/slate/panel/left-right.gif); }

.x-panel-dd-spacer{
	border:2px dashed #89a;
}


/* Tools */
.x-tool {
    background-image:url(../images/slate/panel/tool-sprites.gif);
}

/* Ghosting */
.x-panel-ghost {
    background:#e0e0e0;
}

.x-panel-ghost ul {
    border-color:#b0b0b0;
}

.x-grid-panel .x-panel-mc .x-panel-body {
    border:1px solid #abc;
}

/* Buttons */

.x-btn-left{
	background-image:url(../images/slate/button/btn-sprite.gif);
}
.x-btn-right{
	background-image:url(../images/slate/button/btn-sprite.gif);
}
.x-btn-center{
	background-image:url(../images/slate/button/btn-sprite.gif);
}
.x-btn-over button{
	color:#fff;
}
.x-btn-focus button{
	color:#fff;
}
.x-btn-text-icon .x-btn-with-menu .x-btn-center em {
	background:transparent url(../images/slate/toolbar/btn-arrow.gif) no-repeat scroll right 3px;
}
.x-btn-with-menu .x-btn-center em {
	background:transparent url(../images/slate/toolbar/btn-arrow.gif) no-repeat scroll right 0pt;
}
.x-btn-menu-arrow-wrap .x-btn-center button{
	background:transparent url(../images/slate/button/btn-arrow.gif) no-repeat left 3px;
}
 
 


 
 