<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<style>
 

.x-form-view {
	cursor:default;
}

.Component {
	background-color:lightblue;
	border-bottom:1px groove;
	cursor:pointer;
}

.asp-selected {
	background-color:#000070 !important;
	color:white;
}

.x-view-drag-insert-above {
	border-top:1px dotted #3366cc;
}
.x-view-drag-insert-below {
	border-bottom:1px dotted #3366cc;
}

</style>
<link rel="stylesheet" type="text/css" href="../../cssX/roojs-all.css"/>
 
<script type="text/javascript" src="../../roojs-all.js"></script>
<script type="text/javascript" src="../examples.js"></script><!-- EXAMPLES -->

<script type="text/javascript" src="./ddview.js"></script>   
<script type="text/javascript">

</script>
</head>
<body>
	
<button type="button" onclick="RooDocs.viewSource.show('/ddview.js')">hello.js</button>for the full source code.</p>
	
<form  class="x-form" id="the-form">
	<div class="x-form-ct x-form-column x-form-label-left">
		<fieldset class="x-form-fieldset x-form-label-left" style="margin-left:10px" >
			<legend>Subcomponents</legend>
			<div id="left-view-container" class="x-form-view" style="overflow:auto;height:215px">
			</div>
		</fieldset>
	</div>
	<div class="x-form-ct x-form-column x-form-label-left ">
		<fieldset class="x-form-fieldset x-form-label-left" style="margin-left:10px">
			<legend>Available subcomponents</legend>
			<div id="right-view-container" class="x-form-view" style="overflow:auto;height:215px">
			</div>
		</fieldset>
	</div>
</form>
</body>
</html>