<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../cssX/roojs-all.css"/>
    <link rel="stylesheet" type="text/css" href="../../cssX/xtheme-slate.css"/>

    <script type="text/javascript" src="../../roojs-all.js"></script>   
    <script type="text/javascript" src="../../Roo/DomTemplate.js"></script>   
  

<script type="text/javascript">
    
Roo.onReady(function() {
    
    var html = Roo.get('body').dom.innerHTML;
    //Roo.get('body').dom.innerHTML = '';
    
    var tpl = new Roo.DomTemplate({
       html : html
    });
    return;
    tpl.append(Roo.get('body'),{ 
        parray : [ 
            {
                pa : new Date() 
            },
            {
                pa : new Date() 
            }
        ]
    });
     
});
     
     
</script>

</head>
<body>
    <div id="body">
                
       
            <li roo-if="ontable == 'mtrack_ticket'"  class="change-log-item">
                <div class="timelineevent">  
                    <div class="timelinetext">
                        <div class="timelinereason">
                        <span class="time">{changedate.format:('H:i:s')}</span>        
                                     
                    
                         #<span class="mtrack-ticket-link">{object_id}</span> - <B>{object_summary}</B> <BR/>',
                        
                             <div class="bubble-wrap"> 
                                {reason}    
                            
                                <p>Comment Added
                                        <span class="time">{changedate.format:('H:i:s')}</span>
                                        by
                                        <span class="mtrack-person" personid="{person_id}"><B>{person_id_name}</B></span> 
                                  
                                </p>
                            </div>
                            
                                                
                            <div roo-for="audit">
                              
                               <div roo-if="action != 'changed'">
                                   <div class="bubble-wrap"> 
                            
                                       {value_str}  
                                       </div><p>  {field_str}  Changed
                                           <span class="time">{parent.changedate.format:('H:i:s')}</span>
                                           by
                                           <span class="mtrack-person" personid="{parent.person_id}"><B>{parent.person_id_name}</B></span> 
                                       </p></div> 
                                   </div>                 
                               </div>
                                    
                            
                            </div>         
                                    
                                     
                                    
                            
                            <span class="mtrack-audits">
                                <div roo-for="audit_ar,a">
                                     <div roo-if="action == 'changed'">
                                        <span class="mtrack-audit">{a.field_str} set to: <B>{a.value_str}</B></span>
                                     </div>
                                </div>
                            </span>
                            
                            by
                            <span class="mtrack-person" personid="{person_id}"><B>{person_id_name}</B></span>
                                    
                       </div>
                    
                </div>
            </li> 
         
        
        
                                   
            <li roo-if="ontable == 'mtrack_repos'" class="change-log-item">
            
                <span class="change" ><span class="time">{changedate.format:('H:i:s')}</span> - {reason:ellipsis(100)}</span> 
                <span class="change-log-rev" ><a 
                     class="changesetlink browse-link" 
                     href="{baseURL}/Changeset/default/{object_shortname}/{rev}">{rev}</a>
                         by
                        <span class="mtrack-person" personid="{person_id}"><B>{person_id_name}</B></span>
                           
                </span>
                <ul class="changed-files">
                
                    <div roo-for="audit">
                      
                       <li class="file-change">
                            <B >{action.substring:(action.length-1)}</B> {value}
                        
                        </li>
                    
                    </div>         
                </ul>    
            
            
                
                
                <div style="display:none;white-space: pre-wrap;">{reason}</div>             
            </li>
         
        
        
                       
            <li  roo-name="somename'" class="change-log-item">
            
                <span class="change" ><span class="time">{changedate.format:('H:i:s')}</span> - {reason:ellipsis(100)}</span> 
                <span class="change-log-rev" ><a 
                     class="changesetlink browse-link" 
                     href="{baseURL}/Changeset/default/{object_shortname}/{rev}">{rev}</a>
                         by
                        <span class="mtrack-person" personid="{person_id}"><B>{person_id_name}</B></span>
                           
                </span>
                <ul class="changed-files">
                
                    <div roo-for="audit">
                      
                       <li class="file-change">
                            <B >{action.substring:(action.length-1)}</B> {value}
                        
                        </li>
                    
                    </div>         
                </ul>    
            
            
                
                
                <div style="display:none;white-space: pre-wrap;">{reason}</div>             
            </li>
          
        
        
    </div> 
</body>
</html>