<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../cssX/roojs-all.css"/>
    <link rel="stylesheet" type="text/css" href="../../cssX/xtheme-slate.css"/>

    <script type="text/javascript" src="../../roojs-all.js"></script>   
    <script type="text/javascript" src="../../Roo/DomTemplate.js"></script>   
  

<script id="javascript-code" type="text/javascript">
tpl = new Roo.DomTemplate({
   url : 'domtemplate_snippet.html'
});
Roo.onReady((function() {
    
    var html = Roo.get('body').dom.innerHTML;
    Roo.get('body').dom.innerHTML = '';
    Roo.debug = 1;
    
    // nice and global to test with..
   
    Roo.log(tpl);
    var data =   [ 
            {
                ontable : 'mtrack_ticket',
                changedate : new Date() ,
                reason : 'helo',
                person_id_name : 'test',
                object_summary : 'summary'
            },
            {
                ontable : 'mtrack_repos',
                changedate : new Date() 
            }
        ];
    Roo.each(data,  function(r) {
        // loops through data and appends rows..
        
        tpl.append(Roo.get('body'), r);
    });
    
    Roo.get('template-show').update(Roo.util.Format.htmlEncode(tpl.html)); 
    Roo.get('javascript-show').update(Roo.util.Format.htmlEncode(
        Roo.get('javascript-code').dom.innerHTML
    ));
    
    
}).defer(1000));
     
     
</script>

</head>
<body>
    <H1>Dom Template example</H1>
    <div id="body">
                
       
    </div>
    
    
    <h3>Javascript code</h3>
    <PRE id="javascript-show"></PRE>
    <h3>Template code</h3>

    <PRE id="template-show"></PRE>
     
</body>
</html>