<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
    <link rel="stylesheet" type="text/css" href="../../cssX/roojs-all.css"/>
    <link rel="stylesheet" type="text/css" href="../../cssX/xtheme-slate.css"/>

    <script type="text/javascript" src="../../roojs-all.js"></script>   
    <script type="text/javascript" src="../../Roo/XTemplate.js"></script>   
  

<script type="text/javascript">
    
Roo.onReady(function() {
    
    var tpl = new Roo.XTemplate({
       html : '<tpl for="parray">' + 
                '<li>{pa.format:("Y-m-d")}</li>' +
                
                '<tpl if="first_of_day * 1">' +   
                    '<li  class="change-log-day"><a ' +
                       ' name="changedate-{changedate.format:(\'Y-m-d\')}">{changedate.format:(\'d / M / Y\')}</a></li>' +
                '</tpl>' +
                '</tpl>';
           
     
    });
    
    tpl.append(Roo.get('body'),{ 
        parray : [ 
            {
                pa : new Date() 
            },
            {
                pa : new Date() 
            }
        ]
    });
     
});
     
     
</script>

</head>
<body>
    <div id="body"></div> 
</body>
</html>