<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<title>Calendar Example</title>
   <link rel="stylesheet" type="text/css" href="../../css/roojs-all.css"/>
 
    <script type="text/javascript" src="../../roojs-debug.js"></script>   
    <script type="text/javascript" src="../../Roo/LayoutRegion.js"></script>
    <script type="text/javascript" src="../../Roo/BorderLayout.js"></script>
    <script type="text/javascript" src="../../Roo/LayoutManager.js"></script>
    
    

    
    <script type="text/javascript" src="../../Roo/calendar/View.js"></script>
       <script type="text/javascript" src="../../Roo/CalendarPanel.js"></script>
 
    <script type="text/javascript" src="calendar.js"></script>
    
<!--    <link rel="stylesheet" type="text/css" href="grid-examples.css" />-->

    <!-- Common Styles for the examples -->
    <link rel="stylesheet" type="text/css" href="../examples.css" />
  <link rel="stylesheet" href="../../css-bootstrap/calendar.css">    



</head>
<body>
<!-- EXAMPLES -->
<h1>View Panel Example</h1>


<div id="view-panel" style="width:900px;height:500;">

</div>
 
</body>
<script type="text/javascript">
    baseURL = "/roojs1/";
    Roo.debug =1;
    Roo.onReady(function() {
        Roo.XComponent.build();
    });
</script>
</html>
